<h1>Change Password</h1>
<%= form_for(@user, :url => { :action => "update_password" }, method: :patch ) do |f| %>
  <%= render 'shared/error_messages' %>
  <div class="field">
    <%= f.label :password, "Password" %><br />
    <%= f.password_field :password, :autocomplete => "off"  %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password %>
  </div>
  <div class="action_container">
    <%= f.submit "Save Change" %>
  </div>
<% end %>

<%= link_to "Back", root_path %>