<h2>Edit User</h2>

<%= form_with(model: @user, local: true) do |f| %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :disabled => true %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :company %><br />
    <%= f.text_field :company %>
  </div>

  <div class="field">
    <%= f.label :admin, "Admin", value: "true"  %>
    <%= f.radio_button :admin, true %>
    <%= f.label :admin, "Staff", value: "false" %>
    <%= f.radio_button :admin, false %>
  </div>

  <br>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= link_to "Back", :back %>
